
 
 @model List<EcommerceWebApplicationMVC.Models.Entities.ProductModel> 

 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/products.css" asp-asp-append-version="true">
    @{
        ViewData["Title"] = "Product Page";
    }  

    
</head>
<body>

        <div class="row">
            @foreach(var product in Model) {
                <div class="col-md-3 text-center">
                    <div class="card">
                        <img src=""/>
                            <h2>@product.Name</h2>
                            <p class="price">@product.Price.ToString("c")</p>
                            <p>@product.Description</p>
                            <p style="color: @product.productColor;">@product.productColor</p>
                            <p>@product.Category.Name</p>
                            <button>Add to Cart</button>
                    </div>
                </div>
            }
        </div>
</body>
</html>